*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.card{
    width: 17.5em;
    height: 29.7em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card .img-equilibrum{
    width: 15.6em;
    margin-bottom: 15px;
    border-color: hsl(215, 32%, 27%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card .img-equilibrum img{
    width: 100%;
    height: 100%;
}

h1{
    font-size: 20px;
    align-self: flex-start;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
}

.parrafo{
    color: gray;
    margin-bottom: 5px;
    font-size: 15px;
}

.letras{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.letras .texto-img, .texto-img2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letras .texto{
    color: hsl(178, 100%, 50%);
    margin-left: 6px;
}

.letras .texto2{
    color: hsl(215, 51%, 70%);
    margin-left: 5px;
}

hr{
    width: 100%;
    margin-top: 15px;
    border-color: gray;
}

.contenido{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.contenido span{
    color: gray;
}

.contenido p{
    color: white;
}

.figura{
    width: 2em;
    height: 2em;
    border: solid 1px yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.figura img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido p{
    margin-left: 10px;
    font-size: 12px;
}